extends layout.pug

block content
    link(href="/styles/view-questions.css" rel="stylesheet")
    h2 Questions
    a(href='/questions/ask') Ask a Question
    div(class="questions")
        for question in questions
            div(class="question-holder")
                div(class="question-id")
                    h4 Question
                    h2 ##{question.id}
                    p By: #{question.User.username}
                    p=`Asked ${timeArray[questions.indexOf(question)]}`
                div(class="card card-holder")
                    div.card-body
                        h4.card-title
                            a(href=`/questions/${question.id}`) #{question.title}
                        h5.card-title= question.message
